In [10]:
import yfinance as yf
import pandas as pd
import numpy as np
import scipy.stats as sc
import scipy.linalg
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
sentiment = pd.read_csv("sentiment1.csv")
sentiment.head()

   TotalSentimentScore  Vaccine  Death  Shut        Date
0             0.085862        0      0     0  02/11/2020
1            -0.098021        2      3     1  02/12/2020
2            -0.093167        0      3     0  02/13/2020
3             0.009190        0      1     2  02/14/2020
4             0.000000        1      0     0  02/15/2020

In [90]:
delta = yf.Ticker("DAL").history(start="2020-02-11", end="2020-10-30")
delta

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-02-11,57.701254,58.694391,57.572149,58.257412,4566500,0.0,0
2020-02-12,58.883090,59.508764,58.773845,59.061855,5227500,0.0,0
2020-02-13,58.346797,58.803639,57.949540,58.724190,4353100,0.0,0
2020-02-14,58.833432,59.061853,58.177962,58.495766,3810100,0.0,0
2020-02-18,58.465970,59.061854,58.009128,58.317001,5690600,0.0,0
...,...,...,...,...,...,...,...
2020-10-23,33.520000,34.040001,32.900002,34.000000,15247300,0.0,0
2020-10-26,33.500000,33.500000,31.530001,31.930000,16558300,0.0,0
2020-10-27,31.750000,32.060001,30.690001,30.709999,13442000,0.0,0
2020-10-28,29.760000,30.150000,28.740000,29.650000,22720900,0.0,0
2020-10-29,29.459999,30.910000,29.340000,30.760000,16962300,0.0,0

In [92]:
dates =[]
for x in range(len(delta)):
    newdate = str(delta.index[x])
    newdate = newdate[0:10]
    dates.append(newdate)
delta['Date'] = dates
delta

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date
Date,,,,,,,,
2020-02-11,57.701254,58.694391,57.572149,58.257412,4566500,0.0,0,2020-02-11
2020-02-12,58.883090,59.508764,58.773845,59.061855,5227500,0.0,0,2020-02-12
2020-02-13,58.346797,58.803639,57.949540,58.724190,4353100,0.0,0,2020-02-13
2020-02-14,58.833432,59.061853,58.177962,58.495766,3810100,0.0,0,2020-02-14
2020-02-18,58.465970,59.061854,58.009128,58.317001,5690600,0.0,0,2020-02-18
...,...,...,...,...,...,...,...,...
2020-10-23,33.520000,34.040001,32.900002,34.000000,15247300,0.0,0,2020-10-23
2020-10-26,33.500000,33.500000,31.530001,31.930000,16558300,0.0,0,2020-10-26
2020-10-27,31.750000,32.060001,30.690001,30.709999,13442000,0.0,0,2020-10-27
2020-10-28,29.760000,30.150000,28.740000,29.650000,22720900,0.0,0,2020-10-28
2020-10-29,29.459999,30.910000,29.340000,30.760000,16962300,0.0,0,2020-10-29

In [99]:
price = np.zeros(263)
i = 0
for date in sentiment.Date:
    if date in delta.Date:
        d = date[6:] + "-" + date[0:2] + "-" + date[3:5]  
        price[i] = delta[delta.Date == d].Close[0]
    else:
        price[i] = 0
    i+=1
for i in range(1, len(price)):
    if price[i] == 0 :
        if i != len(price)-1:
            price[i] = .5*(price[i-1]+price[i+1])
        else:
            price[i] = price[i-1]
print(price)

[58.25741196 59.06185532 58.72418976 58.49576569 29.24788284 14.62394142
 36.47047138 58.31700134 58.50999832 58.38000107 57.86999893 28.93499947
 41.5824995  54.22999954 50.88999939 49.59000015 48.18999863 46.13000107
 23.06500053 35.11250019 47.15999985 46.18000031 48.5        45.00999832
 45.88999939 22.94499969 33.23250008 43.52000046 45.47000122 42.66999817
 33.70999908 38.36000061 19.18000031 27.49500084 35.81000137 31.73999977
 23.48999977 21.51000023 21.35000038 10.67500019 16.44749975 22.21999931
 26.88999939 31.10000038 31.70000076 29.54999924 14.77499962 21.72249985
 28.67000008 28.53000069 23.87000084 22.68000031 22.47999954 11.23999977
 16.77999973 22.31999969 22.25       23.22999954 24.38999939 12.19499969
  6.09749985 14.67374992 23.25       24.54000092 24.35000038 22.78000069
 24.27000046 12.13500023 17.88749981 23.63999939 23.10000038 22.46999931
 22.47999954 22.40999985 11.20499992 16.68249989 22.15999985 24.34000015
 27.31999969 25.90999985 24.12000084 12.06000042 17.31500006 22.56999969
 21.70999908 21.         21.68000031 22.71999931 11.35999966 16.68499994
 22.01000023 21.03000069 19.40999985 19.37999916 19.19000053  9.59500027
 15.72750044 21.86000061 21.76000023 22.71999931 23.15999985 22.69000053
 11.34500027  5.67250013 15.66124988 25.64999962 26.31999969 25.65999985
 25.20999908 12.60499954 19.38749981 26.17000008 26.40999985 28.46999931
 32.38000107 34.15999985 17.07999992 27.02500057 36.97000122 34.16999817
 31.63999939 27.20000076 30.43000031 15.21500015 22.83749962 30.45999908
 31.29999924 30.71999931 30.79000092 29.51000023 14.75500011 22.03249979
 29.30999947 29.63999939 27.34000015 28.01000023 26.90999985 13.45499992
 21.03250027 28.61000061 28.04999924 27.70000076 27.71999931 13.85999966
  6.92999983 17.68500018 28.44000053 27.01000023 27.01000023 25.64999962
 27.09000015 13.54500008 20.18249989 26.81999969 26.11000061 28.60000038
 27.26000023 27.04999924 13.52499962 19.87249947 26.21999931 26.43000031
 26.25       26.78000069 25.95999908 12.97999954 19.23999977 25.5
 25.94000053 25.71999931 24.94000053 24.96999931 12.48499966 18.84250021
 25.20000076 25.67000008 26.46999931 27.07999992 27.18000031 13.59000015
 21.46500015 29.34000015 29.63999939 29.09000015 28.70000076 28.95000076
 14.47500038 21.24750042 28.02000046 27.62999916 27.67000008 27.62000084
 27.27000046 13.63500023 21.71749973 29.79999924 30.10000038 29.95000076
 30.81999969 31.98999977 15.99499989 23.42250013 30.85000038 30.70999908
 31.13999939 31.21999931 31.77000046 15.88500023  7.94250011 20.24125051
 32.54000092 31.76000023 31.79000092 31.70000076 15.85000038 24.33500004
 32.81999969 33.50999832 34.56999969 33.95999908 32.84000015 16.42000008
 23.11999989 29.81999969 30.21999931 29.55999947 29.01000023 29.78000069
 14.89000034 23.11500025 31.34000015 30.61000061 30.57999992 31.10000038
 31.75       15.875      23.9375     32.         31.05999947 32.15000153
 32.68000031 32.81000137 16.40500069 24.52250004 32.63999939 31.77000046
 31.76000023 31.34000015 31.46999931 15.73499966 23.61749983 31.5
 31.97999954 31.5        33.72000122 34.         17.         24.46500015
 31.93000031 30.70999908 29.64999962 30.76000023 30.76000023]

In [100]:
df = sentiment
df["Price"] = price
df

     TotalSentimentScore  Vaccine  Death  Shut        Date      Price
0               0.085862        0      0     0  02/11/2020  58.257412
1              -0.098021        2      3     1  02/12/2020  59.061855
2              -0.093167        0      3     0  02/13/2020  58.724190
3               0.009190        0      1     2  02/14/2020  58.495766
4               0.000000        1      0     0  02/15/2020  29.247883
..                   ...      ...    ...   ...         ...        ...
258            -0.045096        6      4     3  10/26/2020  31.930000
259            -0.109511        5      8     2  10/27/2020  30.709999
260            -0.030883        4      4     8  10/28/2020  29.650000
261            -0.052484        3      1     6  10/29/2020  30.760000
262             0.143944        1      0     0  10/30/2020  30.760000

[263 rows x 6 columns]