In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import scipy.stats as sc
import scipy.linalg
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
sentiment = pd.read_csv("sentiment1.csv")
sentiment.head()

   TotalSentimentScore  Vaccine  Death  Shut        Date
0             0.085862        0      0     0  02/11/2020
1            -0.098021        2      3     1  02/12/2020
2            -0.093167        0      3     0  02/13/2020
3             0.009190        0      1     2  02/14/2020
4             0.000000        1      0     0  02/15/2020

In [3]:
def get_data(stock_name):
    stock = yf.Ticker(stock_name).history(start="2020-02-11", end="2020-10-31") # from 2020-02-11 to 2020-10-30
    dates = []
    for x in range(len(stock)):
        newdate = str(stock.index[x])
        newdate = newdate[0:10]
        dates.append(newdate)
    stock['Date'] = dates
    
    split = []
    i = 0
    for date in sentiment.Date:
        if date in stock.Date:
            split.append(stock.iat[i,6])  # Stock Splits
            i+=1
        else:
            split.append(0)
    
    price = np.zeros(263)
    i = 0
    for date in sentiment.Date:
        if date in stock.Date:
            d = date[6:] + "-" + date[0:2] + "-" + date[3:5]  
            price[i] = stock[stock.Date == d].Close[0]
        else:
            price[i] = 0
        i+=1
        
    for i in range(1, len(price)):
        if price[i] == 0 :
            if i != len(price)-1:
                next_price = 0
                for j in range(i+1,i+7):
                    if price[j] != 0:
                        next_price = price[j]
                        break
                price[i] = 0.5 * (price[i-1] + next_price)
            else:
                price[i] = price[i-1]
    
    df = sentiment
    df["Price"] = price
    df["Stock Splits"] = split
    return df

In [4]:
zoom = get_data('ZM')
pd.DataFrame(zoom).to_csv(r'C:\Users\suziy\OneDrive\Desktop\ZM_adjclose.csv', index=False)
zoom

,TotalSentimentScore,Vaccine,Death,Shut,Date,Price,Stock Splits
0,0.085862,0,0,0,02/11/2020,88.680000,0
1,-0.098021,2,3,1,02/12/2020,88.279999,0
2,-0.093167,0,3,0,02/13/2020,89.860001,0
3,0.009190,0,1,2,02/14/2020,90.949997,0
4,0.000000,1,0,0,02/15/2020,93.669998,0
...,...,...,...,...,...,...,...
258,-0.045096,6,4,3,10/26/2020,517.789978,0
259,-0.109511,5,8,2,10/27/2020,538.989990,0
260,-0.030883,4,4,8,10/28/2020,516.010010,0
261,-0.052484,3,1,6,10/29/2020,489.679993,0
262,0.143944,1,0,0,10/30/2020,460.910004,0

In [5]:
facebook = get_data('FB')
pd.DataFrame(facebook).to_csv(r'C:\Users\suziy\OneDrive\Desktop\FB_adjclose.csv', index=False)
facebook

,TotalSentimentScore,Vaccine,Death,Shut,Date,Price,Stock Splits
0,0.085862,0,0,0,02/11/2020,207.190002,0
1,-0.098021,2,3,1,02/12/2020,210.759995,0
2,-0.093167,0,3,0,02/13/2020,213.139999,0
3,0.009190,0,1,2,02/14/2020,214.179993,0
4,0.000000,1,0,0,02/15/2020,215.989998,0
...,...,...,...,...,...,...,...
258,-0.045096,6,4,3,10/26/2020,277.109985,0
259,-0.109511,5,8,2,10/27/2020,283.290009,0
260,-0.030883,4,4,8,10/28/2020,267.670013,0
261,-0.052484,3,1,6,10/29/2020,280.829987,0
262,0.143944,1,0,0,10/30/2020,263.109985,0

In [6]:
amazon = get_data('AMZN')
pd.DataFrame(amazon).to_csv(r'C:\Users\suziy\OneDrive\Desktop\AMZN_adjclose.csv', index=False)
amazon

,TotalSentimentScore,Vaccine,Death,Shut,Date,Price,Stock Splits
0,0.085862,0,0,0,02/11/2020,2150.800049,0
1,-0.098021,2,3,1,02/12/2020,2160.000000,0
2,-0.093167,0,3,0,02/13/2020,2149.870117,0
3,0.009190,0,1,2,02/14/2020,2134.870117,0
4,0.000000,1,0,0,02/15/2020,2145.270020,0
...,...,...,...,...,...,...,...
258,-0.045096,6,4,3,10/26/2020,3207.040039,0
259,-0.109511,5,8,2,10/27/2020,3286.330078,0
260,-0.030883,4,4,8,10/28/2020,3162.780029,0
261,-0.052484,3,1,6,10/29/2020,3211.010010,0
262,0.143944,1,0,0,10/30/2020,3036.149902,0

In [7]:
cisco = get_data('CSCO')
pd.DataFrame(cisco).to_csv(r'C:\Users\suziy\OneDrive\Desktop\CSCO_adjclose.csv', index=False)
cisco

,TotalSentimentScore,Vaccine,Death,Shut,Date,Price,Stock Splits
0,0.085862,0,0,0,02/11/2020,47.846855,0
1,-0.098021,2,3,1,02/12/2020,48.625957,0
2,-0.093167,0,3,0,02/13/2020,46.084126,0
3,0.009190,0,1,2,02/14/2020,45.743267,0
4,0.000000,1,0,0,02/15/2020,45.558229,0
...,...,...,...,...,...,...,...
258,-0.045096,6,4,3,10/26/2020,37.669998,0
259,-0.109511,5,8,2,10/27/2020,36.869999,0
260,-0.030883,4,4,8,10/28/2020,35.709999,0
261,-0.052484,3,1,6,10/29/2020,35.689999,0
262,0.143944,1,0,0,10/30/2020,35.900002,0

In [8]:
netflix = get_data('NFLX')
pd.DataFrame(netflix).to_csv(r'C:\Users\suziy\OneDrive\Desktop\NFLX_adjclose.csv', index=False)
netflix

,TotalSentimentScore,Vaccine,Death,Shut,Date,Price,Stock Splits
0,0.085862,0,0,0,02/11/2020,373.690002,0
1,-0.098021,2,3,1,02/12/2020,380.010010,0
2,-0.093167,0,3,0,02/13/2020,381.399994,0
3,0.009190,0,1,2,02/14/2020,380.399994,0
4,0.000000,1,0,0,02/15/2020,384.089996,0
...,...,...,...,...,...,...,...
258,-0.045096,6,4,3,10/26/2020,488.239990,0
259,-0.109511,5,8,2,10/27/2020,488.929993,0
260,-0.030883,4,4,8,10/28/2020,486.239990,0
261,-0.052484,3,1,6,10/29/2020,504.209991,0
262,0.143944,1,0,0,10/30/2020,475.739990,0

In [9]:
intel = get_data('INTC')
pd.DataFrame(intel).to_csv(r'C:\Users\suziy\OneDrive\Desktop\INTC_adjclose.csv', index=False)
intel

,TotalSentimentScore,Vaccine,Death,Shut,Date,Price,Stock Splits
0,0.085862,0,0,0,02/11/2020,66.098427,0
1,-0.098021,2,3,1,02/12/2020,66.147438,0
2,-0.093167,0,3,0,02/13/2020,66.127838,0
3,0.009190,0,1,2,02/14/2020,65.961136,0
4,0.000000,1,0,0,02/15/2020,65.407131,0
...,...,...,...,...,...,...,...
258,-0.045096,6,4,3,10/26/2020,46.382637,0
259,-0.109511,5,8,2,10/27/2020,45.310432,0
260,-0.030883,4,4,8,10/28/2020,43.930473,0
261,-0.052484,3,1,6,10/29/2020,43.791485,0
262,0.143944,1,0,0,10/30/2020,43.960255,0

In [10]:
tesla = get_data('TSLA')
pd.DataFrame(tesla).to_csv(r'C:\Users\suziy\OneDrive\Desktop\TSLA_adjclose.csv', index=False)
tesla

,TotalSentimentScore,Vaccine,Death,Shut,Date,Price,Stock Splits
0,0.085862,0,0,0,02/11/2020,154.876007,0.0
1,-0.098021,2,3,1,02/12/2020,153.457993,0.0
2,-0.093167,0,3,0,02/13/2020,160.800003,0.0
3,0.009190,0,1,2,02/14/2020,160.005997,0.0
4,0.000000,1,0,0,02/15/2020,165.842995,0.0
...,...,...,...,...,...,...,...
258,-0.045096,6,4,3,10/26/2020,420.279999,0.0
259,-0.109511,5,8,2,10/27/2020,424.679993,0.0
260,-0.030883,4,4,8,10/28/2020,406.019989,0.0
261,-0.052484,3,1,6,10/29/2020,410.829987,0.0
262,0.143944,1,0,0,10/30/2020,388.040009,0.0

In [11]:
alibaba = get_data('BABA')
pd.DataFrame(alibaba).to_csv(r'C:\Users\suziy\OneDrive\Desktop\BABA_adjclose.csv', index=False)
alibaba

,TotalSentimentScore,Vaccine,Death,Shut,Date,Price,Stock Splits
0,0.085862,0,0,0,02/11/2020,217.210007,0
1,-0.098021,2,3,1,02/12/2020,224.309998,0
2,-0.093167,0,3,0,02/13/2020,220.360001,0
3,0.009190,0,1,2,02/14/2020,219.630005,0
4,0.000000,1,0,0,02/15/2020,220.075005,0
...,...,...,...,...,...,...,...
258,-0.045096,6,4,3,10/26/2020,306.869995,0
259,-0.109511,5,8,2,10/27/2020,317.140015,0
260,-0.030883,4,4,8,10/28/2020,307.940002,0
261,-0.052484,3,1,6,10/29/2020,312.559998,0
262,0.143944,1,0,0,10/30/2020,304.690002,0

In [12]:
microsoft = get_data('MSFT')
pd.DataFrame(microsoft).to_csv(r'C:\Users\suziy\OneDrive\Desktop\MSFT_adjclose.csv', index=False)
microsoft

,TotalSentimentScore,Vaccine,Death,Shut,Date,Price,Stock Splits
0,0.085862,0,0,0,02/11/2020,182.506607,0
1,-0.098021,2,3,1,02/12/2020,182.773773,0
2,-0.093167,0,3,0,02/13/2020,181.784271,0
3,0.009190,0,1,2,02/14/2020,183.407059,0
4,0.000000,1,0,0,02/15/2020,184.337212,0
...,...,...,...,...,...,...,...
258,-0.045096,6,4,3,10/26/2020,209.531433,0
259,-0.109511,5,8,2,10/27/2020,212.693161,0
260,-0.030883,4,4,8,10/28/2020,202.150757,0
261,-0.052484,3,1,6,10/29/2020,204.185425,0
262,0.143944,1,0,0,10/30/2020,201.941315,0

In [13]:
nvidia = get_data('NVDA')
pd.DataFrame(nvidia).to_csv(r'C:\Users\suziy\OneDrive\Desktop\NVDA_adjclose.csv', index=False)
nvidia

,TotalSentimentScore,Vaccine,Death,Shut,Date,Price,Stock Splits
0,0.085862,0,0,0,02/11/2020,267.448669,0
1,-0.098021,2,3,1,02/12/2020,272.091034,0
2,-0.093167,0,3,0,02/13/2020,270.333923,0
3,0.009190,0,1,2,02/14/2020,289.312592,0
4,0.000000,1,0,0,02/15/2020,292.697021,0
...,...,...,...,...,...,...,...
258,-0.045096,6,4,3,10/26/2020,525.494751,0
259,-0.109511,5,8,2,10/27/2020,535.711731,0
260,-0.030883,4,4,8,10/28/2020,504.930817,0
261,-0.052484,3,1,6,10/29/2020,520.806152,0
262,0.143944,1,0,0,10/30/2020,501.211914,0