In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import scipy.stats as sc
import scipy.linalg
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
sentiment = pd.read_csv("sentiment4.csv")
sentiment

,Total_Sentiment,Avg_Sentiment,Vaccine,Death,Shut,Spread,Date,Death_Count_Day,Positive_Count_Day
0,1.1162,0.085862,0,0,0,0,02/11/20,0,0
1,-1.3723,-0.098021,2,3,1,1,02/12/20,0,0
2,-1.3975,-0.093167,0,3,0,0,02/13/20,0,0
3,0.0919,0.009190,0,1,2,1,02/14/20,0,0
4,0.0000,0.000000,1,0,0,0,02/15/20,0,0
...,...,...,...,...,...,...,...,...,...
258,-2.3450,-0.045096,6,4,3,1,10/26/20,217549,8621330
259,-6.0231,-0.109511,5,8,2,3,10/27/20,218468,8693413
260,-2.0074,-0.030883,4,4,8,3,10/28/20,219512,8772165
261,-2.5717,-0.052484,3,1,6,3,10/29/20,220549,8860888
262,1.2955,0.143944,1,0,0,1,10/30/20,221496,8958126

In [3]:
def get_data(stock_name):
    stock = yf.Ticker(stock_name).history(start="2020-02-11", end="2020-10-31") # from 2020-02-11 to 2020-10-30
    dates = []
    for x in range(len(stock)):
        newdate = str(stock.index[x])
        newdate = newdate[0:10]
        dates.append(newdate)
    stock['Date'] = dates
    
    split = []
    i = 0
    for date in sentiment.Date:
        if date in stock.Date:
            split.append(stock.iat[i,6])  # Stock Splits
            i+=1
        else:
            split.append(0)
    
    price = np.zeros(263)
    i = 0
    for date in sentiment.Date:
        if date in stock.Date:
            d = "20" + date[6:] + "-" + date[0:2] + "-" + date[3:5]  
            price[i] = stock[stock.Date == d].Close[0]
        else:
            price[i] = 0
        i+=1
    
    for i in range(1, len(price)):
        if price[i] == 0 :
            if i != len(price)-1:
                next_price = 0
                for j in range(i+1,i+7):
                    if price[j] != 0:
                        next_price = price[j]
                        break
                price[i] = 0.5 * (price[i-1] + next_price)
            else:
                price[i] = price[i-1]
    
    sentiment["Price"] = price
    sentiment["Stock Splits"] = split
    return sentiment

In [4]:
zoom = get_data('ZM')
pd.DataFrame(zoom).to_csv(r'C:\Users\suziy\OneDrive\Desktop\ZM_adjclose.csv', index=False)
zoom

,Total_Sentiment,Avg_Sentiment,Vaccine,Death,Shut,Spread,Date,Death_Count_Day,Positive_Count_Day,Price,Stock Splits
0,1.1162,0.085862,0,0,0,0,02/11/20,0,0,88.680000,0
1,-1.3723,-0.098021,2,3,1,1,02/12/20,0,0,88.279999,0
2,-1.3975,-0.093167,0,3,0,0,02/13/20,0,0,89.860001,0
3,0.0919,0.009190,0,1,2,1,02/14/20,0,0,90.949997,0
4,0.0000,0.000000,1,0,0,0,02/15/20,0,0,93.669998,0
...,...,...,...,...,...,...,...,...,...,...,...
258,-2.3450,-0.045096,6,4,3,1,10/26/20,217549,8621330,517.789978,0
259,-6.0231,-0.109511,5,8,2,3,10/27/20,218468,8693413,538.989990,0
260,-2.0074,-0.030883,4,4,8,3,10/28/20,219512,8772165,516.010010,0
261,-2.5717,-0.052484,3,1,6,3,10/29/20,220549,8860888,489.679993,0
262,1.2955,0.143944,1,0,0,1,10/30/20,221496,8958126,460.910004,0

In [5]:
facebook = get_data('FB')
pd.DataFrame(facebook).to_csv(r'C:\Users\suziy\OneDrive\Desktop\FB_adjclose.csv', index=False)
facebook

,Total_Sentiment,Avg_Sentiment,Vaccine,Death,Shut,Spread,Date,Death_Count_Day,Positive_Count_Day,Price,Stock Splits
0,1.1162,0.085862,0,0,0,0,02/11/20,0,0,207.190002,0
1,-1.3723,-0.098021,2,3,1,1,02/12/20,0,0,210.759995,0
2,-1.3975,-0.093167,0,3,0,0,02/13/20,0,0,213.139999,0
3,0.0919,0.009190,0,1,2,1,02/14/20,0,0,214.179993,0
4,0.0000,0.000000,1,0,0,0,02/15/20,0,0,215.989998,0
...,...,...,...,...,...,...,...,...,...,...,...
258,-2.3450,-0.045096,6,4,3,1,10/26/20,217549,8621330,277.109985,0
259,-6.0231,-0.109511,5,8,2,3,10/27/20,218468,8693413,283.290009,0
260,-2.0074,-0.030883,4,4,8,3,10/28/20,219512,8772165,267.670013,0
261,-2.5717,-0.052484,3,1,6,3,10/29/20,220549,8860888,280.829987,0
262,1.2955,0.143944,1,0,0,1,10/30/20,221496,8958126,263.109985,0

In [6]:
amazon = get_data('AMZN')
pd.DataFrame(amazon).to_csv(r'C:\Users\suziy\OneDrive\Desktop\AMZN_adjclose.csv', index=False)
amazon

,Total_Sentiment,Avg_Sentiment,Vaccine,Death,Shut,Spread,Date,Death_Count_Day,Positive_Count_Day,Price,Stock Splits
0,1.1162,0.085862,0,0,0,0,02/11/20,0,0,2150.800049,0
1,-1.3723,-0.098021,2,3,1,1,02/12/20,0,0,2160.000000,0
2,-1.3975,-0.093167,0,3,0,0,02/13/20,0,0,2149.870117,0
3,0.0919,0.009190,0,1,2,1,02/14/20,0,0,2134.870117,0
4,0.0000,0.000000,1,0,0,0,02/15/20,0,0,2145.270020,0
...,...,...,...,...,...,...,...,...,...,...,...
258,-2.3450,-0.045096,6,4,3,1,10/26/20,217549,8621330,3207.040039,0
259,-6.0231,-0.109511,5,8,2,3,10/27/20,218468,8693413,3286.330078,0
260,-2.0074,-0.030883,4,4,8,3,10/28/20,219512,8772165,3162.780029,0
261,-2.5717,-0.052484,3,1,6,3,10/29/20,220549,8860888,3211.010010,0
262,1.2955,0.143944,1,0,0,1,10/30/20,221496,8958126,3036.149902,0

In [7]:
cisco = get_data('CSCO')
pd.DataFrame(cisco).to_csv(r'C:\Users\suziy\OneDrive\Desktop\CSCO_adjclose.csv', index=False)
cisco

,Total_Sentiment,Avg_Sentiment,Vaccine,Death,Shut,Spread,Date,Death_Count_Day,Positive_Count_Day,Price,Stock Splits
0,1.1162,0.085862,0,0,0,0,02/11/20,0,0,47.846855,0
1,-1.3723,-0.098021,2,3,1,1,02/12/20,0,0,48.625957,0
2,-1.3975,-0.093167,0,3,0,0,02/13/20,0,0,46.084126,0
3,0.0919,0.009190,0,1,2,1,02/14/20,0,0,45.743267,0
4,0.0000,0.000000,1,0,0,0,02/15/20,0,0,45.558229,0
...,...,...,...,...,...,...,...,...,...,...,...
258,-2.3450,-0.045096,6,4,3,1,10/26/20,217549,8621330,37.669998,0
259,-6.0231,-0.109511,5,8,2,3,10/27/20,218468,8693413,36.869999,0
260,-2.0074,-0.030883,4,4,8,3,10/28/20,219512,8772165,35.709999,0
261,-2.5717,-0.052484,3,1,6,3,10/29/20,220549,8860888,35.689999,0
262,1.2955,0.143944,1,0,0,1,10/30/20,221496,8958126,35.900002,0

In [8]:
netflix = get_data('NFLX')
pd.DataFrame(netflix).to_csv(r'C:\Users\suziy\OneDrive\Desktop\NFLX_adjclose.csv', index=False)
netflix

,Total_Sentiment,Avg_Sentiment,Vaccine,Death,Shut,Spread,Date,Death_Count_Day,Positive_Count_Day,Price,Stock Splits
0,1.1162,0.085862,0,0,0,0,02/11/20,0,0,373.690002,0
1,-1.3723,-0.098021,2,3,1,1,02/12/20,0,0,380.010010,0
2,-1.3975,-0.093167,0,3,0,0,02/13/20,0,0,381.399994,0
3,0.0919,0.009190,0,1,2,1,02/14/20,0,0,380.399994,0
4,0.0000,0.000000,1,0,0,0,02/15/20,0,0,384.089996,0
...,...,...,...,...,...,...,...,...,...,...,...
258,-2.3450,-0.045096,6,4,3,1,10/26/20,217549,8621330,488.239990,0
259,-6.0231,-0.109511,5,8,2,3,10/27/20,218468,8693413,488.929993,0
260,-2.0074,-0.030883,4,4,8,3,10/28/20,219512,8772165,486.239990,0
261,-2.5717,-0.052484,3,1,6,3,10/29/20,220549,8860888,504.209991,0
262,1.2955,0.143944,1,0,0,1,10/30/20,221496,8958126,475.739990,0

In [9]:
intel = get_data('INTC')
pd.DataFrame(intel).to_csv(r'C:\Users\suziy\OneDrive\Desktop\INTC_adjclose.csv', index=False)
intel

,Total_Sentiment,Avg_Sentiment,Vaccine,Death,Shut,Spread,Date,Death_Count_Day,Positive_Count_Day,Price,Stock Splits
0,1.1162,0.085862,0,0,0,0,02/11/20,0,0,66.098427,0
1,-1.3723,-0.098021,2,3,1,1,02/12/20,0,0,66.147438,0
2,-1.3975,-0.093167,0,3,0,0,02/13/20,0,0,66.127838,0
3,0.0919,0.009190,0,1,2,1,02/14/20,0,0,65.961136,0
4,0.0000,0.000000,1,0,0,0,02/15/20,0,0,65.407131,0
...,...,...,...,...,...,...,...,...,...,...,...
258,-2.3450,-0.045096,6,4,3,1,10/26/20,217549,8621330,46.382637,0
259,-6.0231,-0.109511,5,8,2,3,10/27/20,218468,8693413,45.310432,0
260,-2.0074,-0.030883,4,4,8,3,10/28/20,219512,8772165,43.930473,0
261,-2.5717,-0.052484,3,1,6,3,10/29/20,220549,8860888,43.791485,0
262,1.2955,0.143944,1,0,0,1,10/30/20,221496,8958126,43.960255,0

In [10]:
tesla = get_data('TSLA')
pd.DataFrame(tesla).to_csv(r'C:\Users\suziy\OneDrive\Desktop\TSLA_adjclose.csv', index=False)
tesla

,Total_Sentiment,Avg_Sentiment,Vaccine,Death,Shut,Spread,Date,Death_Count_Day,Positive_Count_Day,Price,Stock Splits
0,1.1162,0.085862,0,0,0,0,02/11/20,0,0,154.876007,0.0
1,-1.3723,-0.098021,2,3,1,1,02/12/20,0,0,153.457993,0.0
2,-1.3975,-0.093167,0,3,0,0,02/13/20,0,0,160.800003,0.0
3,0.0919,0.009190,0,1,2,1,02/14/20,0,0,160.005997,0.0
4,0.0000,0.000000,1,0,0,0,02/15/20,0,0,165.842995,0.0
...,...,...,...,...,...,...,...,...,...,...,...
258,-2.3450,-0.045096,6,4,3,1,10/26/20,217549,8621330,420.279999,0.0
259,-6.0231,-0.109511,5,8,2,3,10/27/20,218468,8693413,424.679993,0.0
260,-2.0074,-0.030883,4,4,8,3,10/28/20,219512,8772165,406.019989,0.0
261,-2.5717,-0.052484,3,1,6,3,10/29/20,220549,8860888,410.829987,0.0
262,1.2955,0.143944,1,0,0,1,10/30/20,221496,8958126,388.040009,0.0

In [11]:
alibaba = get_data('BABA')
pd.DataFrame(alibaba).to_csv(r'C:\Users\suziy\OneDrive\Desktop\BABA_adjclose.csv', index=False)
alibaba

,Total_Sentiment,Avg_Sentiment,Vaccine,Death,Shut,Spread,Date,Death_Count_Day,Positive_Count_Day,Price,Stock Splits
0,1.1162,0.085862,0,0,0,0,02/11/20,0,0,217.210007,0
1,-1.3723,-0.098021,2,3,1,1,02/12/20,0,0,224.309998,0
2,-1.3975,-0.093167,0,3,0,0,02/13/20,0,0,220.360001,0
3,0.0919,0.009190,0,1,2,1,02/14/20,0,0,219.630005,0
4,0.0000,0.000000,1,0,0,0,02/15/20,0,0,220.075005,0
...,...,...,...,...,...,...,...,...,...,...,...
258,-2.3450,-0.045096,6,4,3,1,10/26/20,217549,8621330,306.869995,0
259,-6.0231,-0.109511,5,8,2,3,10/27/20,218468,8693413,317.140015,0
260,-2.0074,-0.030883,4,4,8,3,10/28/20,219512,8772165,307.940002,0
261,-2.5717,-0.052484,3,1,6,3,10/29/20,220549,8860888,312.559998,0
262,1.2955,0.143944,1,0,0,1,10/30/20,221496,8958126,304.690002,0

In [12]:
microsoft = get_data('MSFT')
pd.DataFrame(microsoft).to_csv(r'C:\Users\suziy\OneDrive\Desktop\MSFT_adjclose.csv', index=False)
microsoft

,Total_Sentiment,Avg_Sentiment,Vaccine,Death,Shut,Spread,Date,Death_Count_Day,Positive_Count_Day,Price,Stock Splits
0,1.1162,0.085862,0,0,0,0,02/11/20,0,0,182.506607,0
1,-1.3723,-0.098021,2,3,1,1,02/12/20,0,0,182.773773,0
2,-1.3975,-0.093167,0,3,0,0,02/13/20,0,0,181.784271,0
3,0.0919,0.009190,0,1,2,1,02/14/20,0,0,183.407059,0
4,0.0000,0.000000,1,0,0,0,02/15/20,0,0,184.337212,0
...,...,...,...,...,...,...,...,...,...,...,...
258,-2.3450,-0.045096,6,4,3,1,10/26/20,217549,8621330,209.531433,0
259,-6.0231,-0.109511,5,8,2,3,10/27/20,218468,8693413,212.693161,0
260,-2.0074,-0.030883,4,4,8,3,10/28/20,219512,8772165,202.150757,0
261,-2.5717,-0.052484,3,1,6,3,10/29/20,220549,8860888,204.185425,0
262,1.2955,0.143944,1,0,0,1,10/30/20,221496,8958126,201.941315,0

In [13]:
nvidia = get_data('NVDA')
pd.DataFrame(nvidia).to_csv(r'C:\Users\suziy\OneDrive\Desktop\NVDA_adjclose.csv', index=False)
nvidia

,Total_Sentiment,Avg_Sentiment,Vaccine,Death,Shut,Spread,Date,Death_Count_Day,Positive_Count_Day,Price,Stock Splits
0,1.1162,0.085862,0,0,0,0,02/11/20,0,0,267.448669,0
1,-1.3723,-0.098021,2,3,1,1,02/12/20,0,0,272.091034,0
2,-1.3975,-0.093167,0,3,0,0,02/13/20,0,0,270.333923,0
3,0.0919,0.009190,0,1,2,1,02/14/20,0,0,289.312592,0
4,0.0000,0.000000,1,0,0,0,02/15/20,0,0,292.697021,0
...,...,...,...,...,...,...,...,...,...,...,...
258,-2.3450,-0.045096,6,4,3,1,10/26/20,217549,8621330,525.494751,0
259,-6.0231,-0.109511,5,8,2,3,10/27/20,218468,8693413,535.711731,0
260,-2.0074,-0.030883,4,4,8,3,10/28/20,219512,8772165,504.930817,0
261,-2.5717,-0.052484,3,1,6,3,10/29/20,220549,8860888,520.806152,0
262,1.2955,0.143944,1,0,0,1,10/30/20,221496,8958126,501.211914,0